<div class="row z-depth-5 sg-display-row" style="background: white;">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Modals</h1>
    <hr>
  </div>
  <!-- /Title head -->

  <div class="col s12">



    <div class="card-modal">
      <div class="card-header">
        <div class="card-modal-header-nav-bar">
          <h3 class="subheader white-text">Legg til utgift</h3>
        </div>
        <!-- /nav-bar -->


        <div class="card-modal-header-category-picker">
          <span class="caption secondary-white">Velg kategori</span>

          <div class="row hide-on-med-and-up">
            <div class="input-field col s12 form-on-dark-bg">
              <select class="category-picker-mobile">
                <option value="" disabled selected>Valg Kategori</option>
                <option value="1">Bolig</option>
                <option value="2">Mat</option>
                <option value="3">Transport </option>
              </select>
            </div>
          </div>
          <!-- /cat-picker-mobile -->

          <div class="row hide-on-small-only">
            <div class="col c7">
              <div class="btn-category btn-category-active">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->

            <div class="col c7">
              <div class="btn-category">
                <div class="icon-container">
                  <i class="material-icons">home</i>
                </div>
                <span class="body white-text"> Bolig </span>
              </div>
              <!-- /category -->
            </div>
            <!-- /col category -->


          </div>
          <!-- /row categories -->

        </div>
        <!-- /cat picker -->
      </div>
      <!-- /card header -->

      <div class="card-content row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6">                
              <i class="material-icons prefix">monetization_on</i>
              <input id="modal_amount" type="text" class="validate">
              <label for="modal_amount">Beløp</label>
            </div>

            <div class="input-field col s12 m6">
              <i class="material-icons nett-blue-text prefix">date_range</i>
              <input type="text" class="datepicker3" value="{{currentDate}}">
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">store</i>
              <input id="modal_telephone" type="tel" class="validate">
              <label for="modal_telephone">Butikknavn</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">edit</i>
              <input id="modal_note" type="text" class="validate">
              <label for="modal_note">Notat</label>
            </div>

            <div class="input-field col s12">
              <label>
                <input type="checkbox" class="filled-in" />
                <span class="dark-blue-text">Fast utgift</span>
              </label>
            </div>

          </div>

        </form>
      </div>
      <!-- Modal content -->

      <div class="card-action">
        <div class="waves-effect btn green">Large</div>
        <div class="waves-effect btn light-blue">Large, og legg til ny</div>
      </div>

    </div>
    <!-- Card Model -->




  </div>
  <!-- /Left col -->

</div>
<!-- /Row -->
