<div class="row z-depth-5 sg-display-row">

    <div class="col m7 sg-row-title"><h1 class="uppercase flow-text">Loaders</h1><hr></div>
    <!-- /Title head -->
  
    <div class="col s12 m6">
        <p>Loader Logo</p>
        <div class="logo-nb logo-loader">
          <svg width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <clipPath id="cut-off-bottom">
              <circle cx="64" cy="64" r="55.8"></circle>
            </clipPath>
            <defs>
              <path d="M6.38411872,101.628542 L49.6981801,40.3406897 L49.6981801,40.3406897 C49.8575546,40.1151805 50.1695644,40.0615677 50.3950736,40.2209422 C50.4421878,40.2542393 50.483184,40.2954392 50.516247,40.342718 L73.8576684,73.7199289 L73.8576684,73.7199289 C74.0159227,73.9462255 74.3276628,74.0013848 74.5539595,73.8431305 C74.6016406,73.8097861 74.6431359,73.7683752 74.6765773,73.720762 L113.812414,18"
                id="path-1"></path>
            </defs>
            <g id="Logo-group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Nettbudsjett-anim-logo">
                <g id="bars" clip-path="url(#cut-off-bottom)">
                  <path d="M20.5,121 L20.5,40" id="bar-line-1" class="bar bar-1"></path>
                  <path d="M49.5,121 L49.5,40" id="bar-line-2" class="bar bar-2"></path>
                  <path d="M78.5,121 L78.5,40" id="bar-line-3" class="bar bar-3"></path>
                  <path d="M107.5,121 L107.5,40" id="bar-line-4" class="bar bar-4"></path>
                </g>
                <g id="circles">
                  <circle class="nb-circle nb-cirle-first" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-red" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-green" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-yellow" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-light-blue" cx="64" cy="66" r="57.5"></circle>
                </g>
                <g id="Arrow-line" class="arrow-line">
                  <use class="arrow-line-outside" xlink:href="#path-1"></use>
                  <use class="arrow-line-inside" xlink:href="#path-1"></use>
                </g>
                <path d="M104.290456,12.0674221 L122.149807,24.5971978 L122.149807,24.5971978 C123.506146,25.5487797 125.377087,25.2206585 126.328669,23.8643187 C126.695506,23.3414456 126.885887,22.7151385 126.872099,22.0765651 L126.481919,4.00631946 L126.481919,4.00631946 C126.446152,2.34985131 125.074324,1.03601353 123.417856,1.07178063 C123.131904,1.07795503 122.848304,1.12499049 122.575669,1.2114587 L105.106498,6.75192866 L105.106498,6.75192866 C103.527172,7.252823 102.652931,8.93917484 103.153825,10.5185009 C103.352665,11.1454463 103.75203,11.6896725 104.290456,12.0674221 Z"
                  class="arrow-head"></path>
              </g>
            </g>
          </svg>
        </div>
        <ngx-prism language="html">
&lt;!-- Wrap svg with div class: "logo-nb logo-loader" -->
&lt;!-- Copy and paste svg and use inline html  -->
&lt;!-- Remove logo-loader for usage only logo  -->

&lt;div class="logo-nb logo-loader">
  &lt;svg width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;clipPath id="cut-off-bottom">
        &lt;circle cx="64" cy="64" r="55.8">&lt;/circle>
    &lt;/clipPath>
    &lt;defs>
        &lt;path d="M6.38411872,101.628542 L49.6981801,40.3406897 L49.6981801,40.3406897 C49.8575546,40.1151805 50.1695644,40.0615677 50.3950736,40.2209422 C50.4421878,40.2542393 50.483184,40.2954392 50.516247,40.342718 L73.8576684,73.7199289 L73.8576684,73.7199289 C74.0159227,73.9462255 74.3276628,74.0013848 74.5539595,73.8431305 C74.6016406,73.8097861 74.6431359,73.7683752 74.6765773,73.720762 L113.812414,18" id="path-1">&lt;/path>
    &lt;/defs>
    &lt;g id="Logo-group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        &lt;g id="Nettbudsjett-anim-logo">
            &lt;g id="bars" clip-path="url(#cut-off-bottom)">
                &lt;path d="M20.5,121 L20.5,40" id="bar-line-1" class="bar bar-1">&lt;/path>
                &lt;path d="M49.5,121 L49.5,40" id="bar-line-2" class="bar bar-2">&lt;/path>
                &lt;path d="M78.5,121 L78.5,40" id="bar-line-3" class="bar bar-3">&lt;/path>
                &lt;path d="M107.5,121 L107.5,40" id="bar-line-4" class="bar bar-4">&lt;/path>
            &lt;/g>
            &lt;g id="circles">
                &lt;circle class="nb-circle nb-cirle-first" cx="64" cy="66" r="57.5">&lt;/circle>
                &lt;circle class="nb-circle nb-circle-spinners nb-cirle-red" cx="64" cy="66" r="57.5">&lt;/circle>
                &lt;circle class="nb-circle nb-circle-spinners nb-cirle-green" cx="64" cy="66" r="57.5">&lt;/circle>
                &lt;circle class="nb-circle nb-circle-spinners nb-cirle-yellow" cx="64" cy="66" r="57.5">&lt;/circle>
                &lt;circle class="nb-circle nb-circle-spinners nb-cirle-light-blue" cx="64" cy="66" r="57.5">&lt;/circle>
            &lt;/g>
            &lt;g id="Arrow-line" class="arrow-line">
                &lt;use class="arrow-line-outside" xlink:href="#path-1">&lt;/use>
                &lt;use class="arrow-line-inside" xlink:href="#path-1">&lt;/use>
            &lt;/g>
            &lt;path d="M104.290456,12.0674221 L122.149807,24.5971978 L122.149807,24.5971978 C123.506146,25.5487797 125.377087,25.2206585 126.328669,23.8643187 C126.695506,23.3414456 126.885887,22.7151385 126.872099,22.0765651 L126.481919,4.00631946 L126.481919,4.00631946 C126.446152,2.34985131 125.074324,1.03601353 123.417856,1.07178063 C123.131904,1.07795503 122.848304,1.12499049 122.575669,1.2114587 L105.106498,6.75192866 L105.106498,6.75192866 C103.527172,7.252823 102.652931,8.93917484 103.153825,10.5185009 C103.352665,11.1454463 103.75203,11.6896725 104.290456,12.0674221 Z" class="arrow-head">&lt;/path>
        &lt;/g>
    &lt;/g>
  &lt;/svg>
&lt;/div>
      </ngx-prism>


      <p>Loader defualt</p>
      <div id="loaders-white" class="row">
        
        <div class="col s6">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col s6">
            <div class="preloader-wrapper active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
  
      </div>
      <!-- /Spinner row -->
  
      <!-- Highlighted code -->
  <ngx-prism language="html">
    &lt;div class="preloader-wrapper big active">
  
      &lt;div class="spinner-layer">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
    &lt;/div>
  
    &lt;!-- 
    EXTRA CLASSES - Add to wrapper
    Large loader add: .big
    Disable/activate loader add: .active 
    -->
  
    &lt;!-- 
    COLOR CLASSES - Add to spinner layer:
    .spinner-blue-only
    .spinner-red-only
    .spinner-yellow-only
    .spinner-green-only
    (Default color need no class)
    -->
  </ngx-prism>
    <!-- /Highlighted code -->
  
    </div>
    <!-- /Left col -->
    
    <div class="col s12 m6 dark-blue">
        <p class="white-text">Loader Logo on dark bg</p>
        <div class="logo-nb-on-dark logo-loader">
          <svg width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <clipPath id="cut-off-bottom">
              <circle cx="64" cy="64" r="55.8"></circle>
            </clipPath>
            <defs>
              <path d="M6.38411872,101.628542 L49.6981801,40.3406897 L49.6981801,40.3406897 C49.8575546,40.1151805 50.1695644,40.0615677 50.3950736,40.2209422 C50.4421878,40.2542393 50.483184,40.2954392 50.516247,40.342718 L73.8576684,73.7199289 L73.8576684,73.7199289 C74.0159227,73.9462255 74.3276628,74.0013848 74.5539595,73.8431305 C74.6016406,73.8097861 74.6431359,73.7683752 74.6765773,73.720762 L113.812414,18"
                id="path-1"></path>
            </defs>
            <g id="Logo-group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Nettbudsjett-anim-logo">
                <g id="bars" clip-path="url(#cut-off-bottom)">
                  <path d="M20.5,121 L20.5,40" id="bar-line-1" class="bar bar-1"></path>
                  <path d="M49.5,121 L49.5,40" id="bar-line-2" class="bar bar-2"></path>
                  <path d="M78.5,121 L78.5,40" id="bar-line-3" class="bar bar-3"></path>
                  <path d="M107.5,121 L107.5,40" id="bar-line-4" class="bar bar-4"></path>
                </g>
                <g id="circles">
                  <circle class="nb-circle nb-cirle-first" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-red" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-green" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-yellow" cx="64" cy="66" r="57.5"></circle>
                  <circle class="nb-circle nb-circle-spinners nb-cirle-light-blue" cx="64" cy="66" r="57.5"></circle>
                </g>
                <g id="Arrow-line" class="arrow-line">
                  <use class="arrow-line-outside" xlink:href="#path-1"></use>
                  <use class="arrow-line-inside" xlink:href="#path-1"></use>
                </g>
                <path d="M104.290456,12.0674221 L122.149807,24.5971978 L122.149807,24.5971978 C123.506146,25.5487797 125.377087,25.2206585 126.328669,23.8643187 C126.695506,23.3414456 126.885887,22.7151385 126.872099,22.0765651 L126.481919,4.00631946 L126.481919,4.00631946 C126.446152,2.34985131 125.074324,1.03601353 123.417856,1.07178063 C123.131904,1.07795503 122.848304,1.12499049 122.575669,1.2114587 L105.106498,6.75192866 L105.106498,6.75192866 C103.527172,7.252823 102.652931,8.93917484 103.153825,10.5185009 C103.352665,11.1454463 103.75203,11.6896725 104.290456,12.0674221 Z"
                  class="arrow-head"></path>
              </g>
            </g>
          </svg>
        </div>
        <ngx-prism language="html">
            &lt;!-- For logo / loader on dark bg add: -->
            &lt;!-- "logo-nb-on-dark logo-loader" -->
          </ngx-prism>

          <div class="divider"></div>
      <p class="white-text">Loader different colors</p>
      <div id="loaders-dark" class="row">
        <div class="col s6">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="preloader-wrapper  active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Spinner row -->
          <!-- Highlighted code -->
  <ngx-prism language="html">
    &lt;div class="preloader-wrapper big active">
  
      &lt;div class="spinner-layer-blue">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
      &lt;div class="spinner-layer-red">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
      ...
  
    &lt;/div>
  
    &lt;!-- 
    Multicolor Loader:
    Place multiple spinners inside preloader-wrapper
    -->
  
    &lt;!-- 
    COLOR CLASSES - Add to spinner layer (note "-only" is removed from classname):
    .spinner-blue
    .spinner-red
    .spinner-yellow
    .spinner-green
    -->
  </ngx-prism>
    <!-- /Highlighted code -->
    </div>
    <!-- /Right col -->
  
  </div>
  <!-- /Row -->