<div class="row z-depth-5 sg-display-row">

    <div class="col m7 sg-row-title"><h1 class="uppercase flow-text">Loaders</h1><hr></div>
    <!-- /Title head -->
  
    <div class="col s12 m6">
      <p>Loader defualt</p>
      <div id="loaders-white" class="row">
        
        <div class="col s6">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col s6">
            <div class="preloader-wrapper active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
  
      </div>
      <!-- /Spinner row -->
  
      <!-- Highlighted code -->
  <ngx-prism language="html">
    &lt;div class="preloader-wrapper big active">
  
      &lt;div class="spinner-layer">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
    &lt;/div>
  
    &lt;!-- 
    EXTRA CLASSES - Add to wrapper
    Large loader add: .big
    Disable/activate loader add: .active 
    -->
  
    &lt;!-- 
    COLOR CLASSES - Add to spinner layer:
    .spinner-blue-only
    .spinner-red-only
    .spinner-yellow-only
    .spinner-green-only
    (Default color need no class)
    -->
  </ngx-prism>
    <!-- /Highlighted code -->
  
    </div>
    <!-- /Left col -->
    
    <div class="col s12 m6 dark-blue">
      <p class="white-text">Loader different colors</p>
      <div id="loaders-dark" class="row">
        <div class="col s6">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="preloader-wrapper  active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Spinner row -->
          <!-- Highlighted code -->
  <ngx-prism language="html">
    &lt;div class="preloader-wrapper big active">
  
      &lt;div class="spinner-layer-blue">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
      &lt;div class="spinner-layer-red">
        &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="gap-patch">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
        &lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
        &lt;/div>
      &lt;/div>
  
      ...
  
    &lt;/div>
  
    &lt;!-- 
    Multicolor Loader:
    Place multiple spinners inside preloader-wrapper
    -->
  
    &lt;!-- 
    COLOR CLASSES - Add to spinner layer (note "-only" is removed from classname):
    .spinner-blue
    .spinner-red
    .spinner-yellow
    .spinner-green
    -->
  </ngx-prism>
    <!-- /Highlighted code -->
    </div>
    <!-- /Right col -->
  
  </div>
  <!-- /Row -->