<div class="row z-depth-5 sg-display-row" style="background: #fff;">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Tables</h1>
    <hr>
  </div>
  <!-- /Title head -->

  <div class="col s12 m12">
    <table class="editable-table responsive-table">
      <thead>
        <tr>
          <th class="th-checkbox">
            <label>
              <input type="checkbox" class="filled-in" />
              <span class="caption secondary">Dato</span>
            </label>
          </th>
          <th><span class="caption secondary">Forhandler</span></th>
          <th><span class="caption secondary">Beløp</span></th>
          <th><span class="caption secondary">Notat</span></th>
          <th><span class="caption secondary">Kategori</span></th>
        </tr>
      </thead>

      <tbody>
        <tr><!-- Table Row 1 -->
          <td>
            <div class="input-field">
              <label>
                <input type="checkbox" class="filled-in" />
                <span class="">21.01.2018</span>
              </label>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="merchant" type="text" class="validate" value="Kiwi">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="amount" type="text" class="validate" value="Kr 350">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="note" type="text" class="validate" value="Middag">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>

          <td>
            <div class="input-field">
              <select>
                <option value="" disabled selected>Velg kategori</option>
                <option value="1">Bolig</option>
                <option value="2">Mat</option>
                <option value="3">Transport</option>
              </select>
            </div>
          </td>
        </tr><!-- /Table Row 1 -->
        <tr><!-- Table Row 2 -->
          <td>
            <div class="input-field">
              <label>
                <input type="checkbox" class="filled-in" />
                <span class="">21.01.2018</span>
              </label>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="merchant" type="text" class="validate" value="Kiwi">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="amount" type="text" class="validate" value="Kr 350">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="note" type="text" class="validate" value="Middag">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>

          <td>
            <div class="input-field">
              <select class="select2">
                <option value="" disabled selected>Velg kategori</option>
                <option value="1">Bolig</option>
                <option value="2">Mat</option>
                <option value="3">Transport</option>
              </select>
            </div>
          </td>
        </tr><!-- /Table Row 2 -->
        <tr><!-- Table Row 3 -->
          <td>
            <div class="input-field">
              <label>
                <input type="checkbox" class="filled-in" />
                <span class="">21.01.2018</span>
              </label>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="merchant" type="text" class="validate" value="Kiwi">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="amount" type="text" class="validate" value="Kr 350">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="note" type="text" class="validate" value="Middag">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>

          <td>
            <div class="input-field">
              <select>
                <option value="" disabled selected>Velg kategori</option>
                <option value="1">Bolig</option>
                <option value="2">Mat</option>
                <option value="3">Transport</option>
              </select>
            </div>
          </td>
        </tr><!-- /Table Row 3 -->
      </tbody>
    </table>
    <br><br>
    
  <!-- Highlighted code -->
  <ngx-prism language="html">
    &lt;!--
    On dark backgrounds: TODO
    -->

    &lt;table class="editable-table">
      &lt;thead>
        &lt;tr>
          &lt;th class="th-checkbox"> &lt;!-- Add th-checkbox if checkbox in tableheader-->
            &lt;label>
              &lt;input type="checkbox" class="filled-in" />
              &lt;span class="caption secondary">Dato&lt;/span>
            &lt;/label>
          &lt;/th>
          &lt;th>&lt;span class="caption secondary">Forhandler&lt;/span>&lt;/th>
        &lt;/tr>
      &lt;/thead>
      &lt;tbody>
        &lt;tr>
          &lt;td>
            &lt;div class="input-field">
              &lt;label>
                &lt;input type="checkbox" class="filled-in" />
                &lt;span class="">21.01.2018&lt;/span>
              &lt;/label>
            &lt;/div>
          &lt;/td>
          &lt;td>
            &lt;div class="input-field">
              &lt;input id="merchant" type="text" class="validate" value="Kiwi">
              &lt;i class="material-icons icon-in-table">edit&lt;/i>
            &lt;/div>
          &lt;/td>
          
          &lt;td>
            &lt;div class="input-field">
              &lt;select>
                &lt;option value="" disabled selected>Velg kategori&lt;/option>
                &lt;option value="1">Bolig&lt;/option>
                &lt;option value="2">Mat&lt;/option>
              &lt;/select>
            &lt;/div>
          &lt;/td>
        &lt;/tr>
      &lt;/tbody>
    &lt;/table>
    </ngx-prism>
    <!-- /Highlighted code -->
  </div>
  <!-- /Col -->
</div>
<!-- /Row -->
