<div class="row z-depth-5 sg-display-row" style="background: #fff;">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Tables</h1>
    <hr>
  </div>
  <!-- /Title head -->
  <div class="col s12 m12">
    <table class="editable-table">
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="filled-in" />
              <span class="caption secondary">Dato</span>
            </label>
          </th>
          <th><span class="caption secondary">Forhandler</span></th>
          <th><span class="caption secondary">Beløp</span></th>
          <th><span class="caption secondary">Notat</span></th>
          <th><span class="caption secondary">Kategori</span></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="input-field">
              <label>
                <input type="checkbox" class="filled-in" />
                <span class="">21.01.2018</span>
              </label>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="merchant" type="text" class="validate" value="Kiwi">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="amount" type="text" class="validate" value="Kr 350">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input id="note" type="text" class="validate" value="Middag">
              <i class="material-icons icon-in-table">edit</i>
            </div>
          </td>

          <td>
            <div class="input-field">
              <select>
                <option value="" disabled selected>Velg kategori</option>
                <option value="1">Bolig</option>
                <option value="2">Mat</option>
                <option value="3">Transport</option>
              </select>
              <!-- <label>Materialize Select</label> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Left col -->
</div>
<!-- /Row -->
