<div class="row z-depth-5 sg-display-row">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Typography</h1>
    <hr>
  </div>
  <!-- /Title head -->

  <div class="col s12 m6">
    <h3 class="display-3">Display 3</h3>
    <pre><code class="language-html">class="display-3"</code></pre>

    <h3 class="display-2">Display 2</h3>
    <pre><code class="language-html">class="display-2"</code></pre>

    <h3 class="display-1">Display 1</h3>
    <pre><code class="language-html">class="display-1"</code></pre>

    <h3 class="headline">Headline</h3>
    <pre><code class="language-html">class="headline" | h1</code></pre>

    <h3 class="title">Title</h3>
    <pre><code class="language-html">class="title" | h2</code></pre>

    <h3 class="subhead">Subhead</h3>
    <pre><code class="language-html">class="subhead" | h3</code></pre>

    <p class="body">Body</p>
    <pre><code class="language-html">class="body" | p</code></pre>

    <p class="body-2">Body-2</p>
    <pre><code class="language-html">class="body-2"</code></pre>

    <p class="table-content">Table Content</p>
    <pre><code class="language-html">class="table-content"</code></pre>

    <p class="caption">Caption</p>
    <pre><code class="language-html">class="caption"</code></pre>

    <div class="divider"></div>

    <p class="secondary">Secondary</p>
    <pre><code class="language-html">class="body secondary" | p class="secondary"</code></pre>
    <p class="disabled">Disabled</p>
    <pre><code class="language-html">class="body disabled" | p class="disabled"</code></pre>

  </div>
  <!-- /Left col -->

  <div class="col s12 m6 dark-blue">
    <h3 class="display-3 white-text">Display 3</h3>
    <pre><code class="language-html">class="display-3 white-text"</code></pre>

    <h3 class="display-2 white-text">Display 2</h3>
    <pre><code class="language-html">class="display-2 white-text"</code></pre>

    <h3 class="display-1 white-text">Display 1</h3>
    <pre><code class="language-html">class="display-1 white-text"</code></pre>

    <h3 class="headline white-text">Headline</h3>
    <pre><code class="language-markup">class="headline white-text" | h1 class="white-text"</code></pre>

    <h3 class="title white-text">Title</h3>
    <pre><code class="language-html">class="title white-text | h2 class="white-text"</code></pre>

    <h3 class="subhead white-text">Subhead</h3>
    <pre><code class="language-html">class="subhead white-text | h3 class="white-text"</code></pre>

    <p class="body white-text">Body</p>
    <pre><code class="language-html">class="body white-text | p class="white-text"</code></pre>

    <p class="body-2 white-text">Body-2</p>
    <pre><code class="language-html">class="body-2 white-text"</code></pre>

    <p class="table-content white-text">Table Content</p>
    <pre><code class="language-html">class="table-content white-text"</code></pre>

    <p class="caption white-text">Caption</p>
    <pre><code class="language-html">class="caption white-text"</code></pre>

    <div class="divider"></div>

    <p class="secondary-white">Secondary</p>
    <pre><code class="language-html">class="body secondary-white" | p class="secondary-white"</code></pre>
    <p class="disabled-white">Disabled</p>
    <pre><code class="language-html">class="body disabled-white" | p class="disabled-white"</code></pre>

  </div>
  <!-- /Right col -->

</div>
<!-- /Row -->
