<div class="row">
  <div class="relative">
    <div class="col m7 absolute" style="padding: 0 40px">
      <h1 class="display-2 uppercase">Typography</h1>
      <hr style="border-color:#59c0f4;">
    </div>
  </div>
</div>
<!-- /Title head -->

<div class="row z-depth-5 sg-display-row">

  <div class="col s12 m6">

    <h3 class="display-3">Display 3</h3>
    <pre><code class="language-html">class="disaply-3"</code></pre>

    <h3 class="display-2">Display 2</h3>
    <pre><code class="language-html">class="disaply-2"</code></pre>

    <h3 class="display-1">Display 1</h3>
    <pre><code class="language-html">class="disaply-1"</code></pre>

    <h3 class="headline">Headline</h3>
    <pre><code class="language-html">class="headline" | h1</code></pre>

    <h3 class="title">Title</h3>
    <pre><code class="language-html">class="title" | h2</code></pre>

    <h3 class="subhead">Subhead</h3>
    <pre><code class="language-html">class="subhead" | h3</code></pre>

    <p class="body">Body</p>
    <pre><code class="language-html">class="body" | p</code></pre>

    <p class="body-2">Body-2</p>
    <pre><code class="language-html">class="body-2"</code></pre>

    <p class="table-content">Table Content</p>
    <pre><code class="language-html">class="table-content"</code></pre>

    <p class="caption">Caption</p>
    <pre><code class="language-html">class="caption"</code></pre>
    
    <div class="divider"></div>

    <p class="secondary">Secondary</p>
    <pre><code class="language-html">class="body secondary" | p class="secondary"</code></pre>
    <p class="disabled">Disabled</p>
    <pre><code class="language-html">class="body disabled" | p class="disabled"</code></pre>

  </div>
  <!-- /Left col -->

  <div class="col s12 m6 darkslateblue">
    <h3 class="display-3 typo-white">Display 3</h3>
    <pre><code class="language-html">class="display-3 typo-white"</code></pre>

    <h3 class="display-2 typo-white">Display 2</h3>
    <pre><code class="language-html">class="display-2 typo-white"</code></pre>

    <h3 class="display-1 typo-white">Display 1</h3>
    <pre><code class="language-html">class="display-1 typo-white"</code></pre>

    <h3 class="headline typo-white">Headline</h3>
    <pre><code class="language-markup">class="headline typo-white" | h1 class="typo-white"</code></pre>

    <h3 class="title typo-white">Title</h3>
    <pre><code class="language-html">class="title typo-white | h2 class="typo-white"</code></pre>

    <h3 class="subhead typo-white">Subhead</h3>
    <pre><code class="language-html">class="subhead typo-white | h3 class="typo-white"</code></pre>

    <p class="body typo-white">Body</p>
    <pre><code class="language-html">class="body typo-white | p class="typo-white"</code></pre>

    <p class="body-2 typo-white">Body-2</p>
    <pre><code class="language-html">class="body-2 typo-white"</code></pre>

    <p class="table-content typo-white">Table Content</p>
    <pre><code class="language-html">class="table-content typo-white"</code></pre>

    <p class="caption typo-white">Caption</p>
    <pre><code class="language-html">class="caption typo-white"</code></pre>

    <div class="divider"></div>

    <p class="secondary-white">Secondary</p>
    <pre><code class="language-html">class="body secondary" | p class="secondary"</code></pre>
    <p class="disabled-white">Disabled</p>
    <pre><code class="language-html">class="body disabled" | p class="disabled"</code></pre>

  </div>
  <!-- /Right col -->

</div>
<!-- /Row -->
