<div class="row">
  <div class="relative">
    <div class="col m7 absolute" style="padding: 0 40px">
      <h1 class="display-2 uppercase"> Typography </h1>
      <hr style="border-color:#59c0f4;">
    </div>
  </div>
</div>
<!-- /Title head -->

<div class="row">
  <div class="col m6" style="padding: 130px 40px 56px">
    <h3 class="display-3">Display 3</h3>

    <h3 class="display-2">Display 2</h3>

    <h3 class="display-1">Display 1</h3>

    <h3 class="headline">Headline</h3>

    <h3 class="title">Headline</h3>

    <h3 class="subhead">Subhead</h3>

    <p class="body">Body</p>

    <p class="body-2">Body-2</p>

    <p class="table-content">Table Content</p>

    <p class="caption">Caption</p>
  </div>
  <!-- /Left col -->
  <div class="col m6 darkslateblue" style="padding: 130px 40px 56px">
    <h3 class="display-3 typo-white">Display 3</h3>

    <h3 class="display-2 typo-white">Display 2</h3>

    <h3 class="display-1 typo-white">Display 1</h3>

    <h3 class="headline typo-white">Headline</h3>

    <h3 class="title typo-white">Headline</h3>

    <h3 class="subhead typo-white">Subhead</h3>

    <p class="body typo-white">Body</p>

    <p class="body-2 typo-white">Body-2</p>

    <p class="table-content typo-white">Table Content</p>

    <p class="caption typo-white">Caption</p>
  </div>
  <!-- /Right col -->
</div>
<!-- /Row -->
