@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Text styles
// ==========================================================================
@mixin font-source($size: false, $lh: false,$color: false, $weight: false) {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $color {
    color: $color;
  }
}

// Custom grids
// ==========================================================================
@mixin col($col, $sum, $gap: 1em, $align: top) {
    width: percentage($col/$sum);
    font-size: 16px;
    display: inline-block;
    vertical-align: $align;
    box-sizing: border-box;
    padding-left: $gap;
    padding-right: $gap;
  }

// CSS Triangles Mixin
// https://codepen.io/Somnius/pen/BodyVm
// ==========================================================================
@mixin css-triangle($direction, $color, $height, $width) {
  // Base styles for all triangles
  border-style: solid;
  height: 0;
  width: 0;
  // Cardinal Directions - can't be scalene this way
  @if($direction == 'top') {
      border-color: transparent transparent $color transparent;
      border-width: 0 ($width/2) $height ($width/2);
  }
  @if ($direction == 'bottom') {
      border-color: $color transparent transparent transparent;
      border-width: $height ($width/2) 0 ($width/2);
  }
  @if ($direction == 'right') {
      border-color: transparent transparent transparent $color;
      border-width: ($height/2) 0 ($height/2) $width;
  }
  @if ($direction == 'left') {
      border-color: transparent $color transparent transparent;
      border-width: ($height/2) $width ($height/2) 0;
  }
  // Ordinal Directions - can be scalene this way!
  @if ($direction == 'top-left') {
      border-color: $color transparent transparent transparent;
      border-width: $height $width 0 0;
  }
  @if ($direction == 'top-right') {
      border-color: transparent $color transparent transparent;
      border-width: 0 $width $height 0;
  }
  @if ($direction == 'bottom-left') {
      border-color: transparent transparent transparent $color;
      border-width: $height 0 0 $width;
  }
  @if ($direction == 'bottom-right') {
      border-color: transparent transparent $color transparent;
      border-width: 0 0 $height $width;
  }
}