// Imports
// ==========================================================================
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i");
@import "~sass/colors";
@import "~sass/variables";
@import "~sass/mixins";
@import "node_modules/materialize-css/sass/materialize";
// Nettbudsjett custom styles
@import "~sass/typography";
@import "~sass/forms";
@import "~sass/buttons";
@import "~sass/table";
// Import only for styleguide
@import "~sass/styleguide";


// Helper classes
// ==========================================================================
.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

hr {
  border-style: solid;
  border-color: rgba($black, 0.5);
}

/*
Flexbox fix to .valing-wrapper materialize class
Added flex-direction, and possibillity to reverse order class.
*/
@media #{$small-and-down} {
  .valign-wrapper {
    flex-direction: column;
  }
  .reverse-item-order-s {
    flex-direction: column-reverse;
  }
}
@media #{$medium-and-up} {
  .reverse-item-order-m {
    flex-direction: column-reverse;
  }
}


// Grid
// ==========================================================================
/* Rows should only be added to wrap colums, - rows align cols to container  
    Need MORE testing, as there already is a .col .row wrapper
*/
@media #{$medium-and-up} {
  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}


// Tooltip
// ==========================================================================
.material-tooltip {
  background: darken($color: $primary-color, $amount: 15%);
  overflow: visible;
  &::before {
    content: "";
    @include css-triangle(bottom, darken($color: $primary-color, $amount: 15%), 8px, 16px);
    bottom: -7px;
    right: calc(50% - 8px);
    margin-left: -35px;
    position: absolute;
  }
}


// Progress Bar
// ==========================================================================
$eco-bar-border: $black-20;
$eco-bar-border-on-dark-bg: $white;
.eco-bar-container {
  text-align: center;
}

.eco-bar,
.eco-bar-vertical {
  @extend .progress;
  height: 24px;
  background-color: transparent;
  border: 1px solid $eco-bar-border;
}

.eco-bar-vertical {
  margin: 0 0 0.533rem 0;
  .determinate {
    top: auto;
    width: 100%;
    span {
      top: -24px;
      position: relative;
      color: $success-color;
    }
    &.is-over {
      span {
        top: 0;
        color: $white;
      }
    }
  }
}

.eco-on-dark {
  border-color: $eco-bar-border-on-dark-bg;
  .determinate.is-over {
    span {
      color: $primary-color;
    }
  }
}


// Slider
// ==========================================================================
.eco-slider,
.eco-slider-dark {
  background: $black-20 !important;
  .noUi-tooltip,
  .noUi-connect,
  .noUi-handle {
    background-color: $slider-color !important;
  }
  .noUi-tooltip {
    opacity: 0;
    top: -11px !important;
  }
  .noUi-active .noUi-tooltip {
    opacity: 1;
    background-color: $slider-color !important;
    &::before {
      content: "";
      height: 56px;
      width: 100px;
      background: $slider-color;
      bottom: 0;
      border-radius: 4px;
      left: -24px;
      position: absolute;
      transform: rotate(45deg);
    }
    span {
      top: -11px;
      left: -17px;
      font-size: 16px;
      width: 85px;
    }
  }
}

.eco-slider-dark {
  background: $white-70 !important;
  .noUi-tooltip,
  .noUi-connect,
  .noUi-handle {
    background-color: $slider-color-dark !important;
    span {
      color: $black-87;
    }
  }
  .noUi-active .noUi-tooltip {
    background-color: $slider-color-dark !important;
    &::before {
      background: $slider-color-dark;
    }
  }
}


// Modals
// ==========================================================================
.card-modal {
  max-width: 680px;
  @extend .z-depth-5;
  .row {
    margin-bottom: 0;
  }
  .card-header {
    background-color: $primary-color;
    .card-modal-header-nav-bar {
      padding: 16px 32px;
    }
    .card-modal-header-category-picker {
      padding: 0px 32px 16px;
    }
  }
  .card-content {
    padding: 24px 32px;
  }
  .card-action {
    padding: 0 32px 24px;
  }
}


// Collapsible
// ==========================================================================
.collapsible {
  .icon-collapsible-rotate {
    padding: 0;
  }
  &.popout {
    & > li {
      margin: 0;
      box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.24);
    }
    & > li.active {
      margin: 40px -24px;
      box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.16),
        0 8px 16px 0 rgba(0, 0, 0, 0.12);
      .icon-collapsible-rotate {
        transform: rotate(-180deg);
      }
    }
  }
}

.collapsible-header {
  display: block;
  padding: 40px 32px 24px 32px;
  border: none;
  .row {
    margin-bottom: 0;
  }
  i {
    width: unset;
    margin-right: unset;
  }
}

.collapsible-body {
  padding: 16px 32px 56px 32px;
}

@media #{$medium-and-down} {
  table.responsive-table th {
    height: 64px;
  }
}
    

// Costum Column Sizes
// ==========================================================================
/* 
Example - col(1, 7, 12px) will result in:
width: percentage(1/7); padding: 0 24px;
*/

.c5 {
  @include col(1, 5, 12px);
}

.c7 {
  @include col(1, 7, 12px);
}

@media #{$small-and-down} {
  .c7 {
    display: none;
  }
}
