// Imports
// ==========================================================================
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i");
@import "~sass/colors";
@import "~sass/variables";
@import "~sass/mixins";
@import "node_modules/materialize-css/sass/materialize";
// Import only for styleguide
@import "~sass/styleguide";

// Text styles
// ==========================================================================
.display-3      { @include font-source(48px, 1.17, $black-87, 400); }

.display-2      { @include font-source(40px, 1.5, $black-87, 200); }

.display-1      { @include font-source(32px, 1.5, $black-87, 300); }

.headline       { @include font-source(28px, 1.29, $black-87); }

.title          { @include font-source(20px, 1.4, $black-87, 300); }

.subhead        { @include font-source(18px, 1.56, $black-87); }

.body           { @include font-source(14px, 1.71, $black-87); }

.body-2         { @include font-source(14px, 1.71, $black-87, 300); }

.table-content  { @include font-source(13px, 1.54, $black-87); }

.caption        { @include font-source(12px, 1.33, $black-87); }

.typo-white { color: $white; }

.secondary {
  color: $black-54;
  &-white {
    color: $white-70;
  }
}

.disabled {
  color: $black-38;
  &-white {
    color: $white-50;
  }
}

// Standard Typography
h1 {
  @extend .headline;
}

h2 {
  @extend .title;
}

h3,
h4,
h5,
h6 {
  @extend .subhead;
}

p {
  @extend .body;
}

// Helper classes
// ==========================================================================
.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

hr {
  border-style: solid;
  border-color: rgba($black, 0.50);
}


// Buttons
// ==========================================================================

// Extend materialize and two new button styles (medium and xl)
.btn {
  font-family: "Montserrat", sans-serif;
  color: $black-87;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  margin: 0.5rem 0;
  &.darkslateblue {
    color: $white;
  }
}

.btn-medium {
  @extend .btn;
  @extend .subhead;
  height: $button-height * 1.2;
  line-height: $button-height * 1.2;
  i {
    font-size: 1.3rem;
  }
}

.btn-large {
  @extend .title;
  font-weight: 300;
  height: $button-height * 1.5;
  line-height: $button-height * 1.5;
  i {
    font-size: 1.6rem;
  }
}

.btn-xl {
  @extend .btn;
  @extend .z-depth-4;
  @extend .headline;
  height: $button-height * 2.2;
  line-height: $button-height * 2.2;
  border-radius: 64px;
  i {
    font-size: 2.3rem;
  }
  &:hover {
    @extend .z-depth-3;
  }
}

.btn-floating {
  &.btn-large {
    @extend .z-depth-4;
    &:hover {
      @extend .z-depth-3;
    }
    i {
      font-size: 2.857rem;
    }
  }
  &.darkslateblue {
    i {
      color: $white;
    }
    &:hover {
      background-color: lighten($primary-color, 5%) !important;
    }
  }
}


