# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/nettbudsjett-styleguide/tmp
/nettbudsjett-styleguide/out-tsc

# dependencies
/node_modules
/nettbudsjett-styleguide/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/nettbudsjett-styleguide/.sass-cache
/nettbudsjett-styleguide/connect.lock
/nettbudsjett-styleguide/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/nettbudsjett-styleguide/typings

# e2e
/nettbudsjett-styleguide/e2e/*.js
/nettbudsjett-styleguide/e2e/*.map

# System Files
.DS_Store
Thumbs.db
