<div class="row z-depth-5 sg-display-row">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Forms</h1>
    <hr>
  </div>
  <!-- /Title head -->

  <div class="col s12 m6">

    <p>Input fields - Checkboxes - Datepickers</p>
    <div class="row">
      <form class="col s12">
        <div class="row">

          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
          </div>

          <div class="input-field col s6">
            <label>
              <input type="checkbox" class="filled-in" />
              <span class="dark-blue-text">Fast utgift</span>
            </label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons nett-blue-text prefix">date_range</i>
            <input type="text" class="datepicker" placeholder="{{currentDate}}">
          </div>

        </div>
        <!-- End Row -->
      </form>
      <!-- End From -->
    </div>
    <!-- Input Fields  -->


    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;form class="col s12">
      &lt;div class="row">

        &lt;div class="input-field col s6">
          &lt;i class="material-icons prefix">account_circle&lt;/i>
          &lt;input id="icon_prefix" type="text" class="validate">
          &lt;label for="icon_prefix">First Name&lt;/label>
        &lt;/div>

        &lt;div class="input-field col s6">
          &lt;i class="material-icons prefix">phone&lt;/i>
          &lt;input id="icon_telephone" type="tel" class="validate">
          &lt;label for="icon_telephone">Telephone&lt;/label>
        &lt;/div>

        &lt;div class="input-field col s6">
          &lt;label>
            &lt;input type="checkbox" class="filled-in" />
            &lt;span class="dark-blue-text">Fast utgift&lt;/span>
          &lt;/label>
        &lt;/div>

        &lt;div class="input-field col s6">
          &lt;i class="material-icons nett-blue-text prefix">date_range&lt;/i>
          &lt;input type="text" class="datepicker">
        &lt;/div>

      &lt;/div>
      <!-- End Row -->
    &lt;/form>
    <!-- End From -->
    </ngx-prism>
    <!-- Highlighted code -->

    <div class="divider"></div>


  </div>
  <!-- /Left col -->

  <div class="col s12 m6 dark-blue">
      <p class="secondary-white">Input fields - Checkboxes - Datepickers</p>
    <div class="row">
      
      <form class="col s12 form-on-dark-bg">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix_dark" type="text" class="validate">
            <label for="icon_prefix_dark">First Name</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone_dark" type="tel" class="validate">
            <label for="icon_telephone_dark">Telephone</label>
          </div>

          <div class="input-field col s6">
            <label>
              <input type="checkbox" class="filled-in" />
              <span class="">Fast utgift</span>
            </label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons nett-blue-text prefix">date_range</i>
            <input type="text" class="datepicker2" placeholder="{{currentDate}}">
          </div>

        </div>
        <!-- End Row -->
      </form>
      <!-- End From -->
    </div>
    <!-- Input Fields  -->

    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;form class="col s12 form-on-dark-bg">
      ...
    &lt;/form>
    <!-- End From col -->
    </ngx-prism>
    <!-- Highlighted code -->

  </div>
  <!-- /Right col -->
</div>
<!-- /Row -->
