<div class="row">
  <div class="relative">
    <div class="col m7 absolute" style="padding: 0 40px">
      <h1 class="display-2 uppercase">Buttons</h1>
      <hr>
    </div>
  </div>
</div>
<!-- /Title head -->

<div class="row z-depth-5 sg-display-row">

  <div class="col s12 m6">
    <a class="waves-effect btn light-blue">button</a>
    <a class="waves-effect btn green">button</a>
    <a class="waves-effect waves-light btn red">button</a>
    <a class="waves-effect btn yellow">button</a>
    <a class="waves-effect waves-light btn darkslateblue">button</a>
    <div class="divider"></div>
    <!-- Default btns -->

    <a class="waves-effect btn light-blue btn-medium">button</a>
    <div class="divider"></div>
    <!-- Medium btns -->

    <a class="waves-effect  btn light-blue btn-large">button</a>
    <div class="divider"></div>
    <!-- Large btns -->

    <a class="waves-effect btn light-blue btn-xl">button</a>
    <div class="divider"></div>
    <!-- XLarge btns -->

    <a class="btn-floating waves-effect"><i class="material-icons">add</i></a>
    <a class="btn-floating waves-effect waves-light darkslateblue"><i class="material-icons">add</i></a>

    <a class="btn-floating btn-large waves-effect"><i class="material-icons">add</i></a>

    <a class="btn-floating btn-large waves-effect waves-light darkslateblue"><i class="material-icons">add</i></a>
    <!-- Floating btns -->

    <pre><code class="language-markup">
                &lt;h1 class="foo"&gt;h1. Heading 1&lt;/h1&gt;
                &lt;h2&gt;h2. Heading 2&lt;/h2&gt;
                &lt;h3&gt;h3. Heading 3&lt;/h3&gt;
                &lt;h4&gt;h4. Heading 4&lt;/h4&gt;
                &lt;h5&gt;h5. Heading 5&lt;/h5&gt;
                &lt;h6&gt;h6. Heading 6&lt;/h6&gt;
        </code>
    </pre>

  </div>
  <!-- /Left col -->

  <div class="col s12 m6 darkslateblue">
    <pre><code class="language-html">class="display-3 typo-white"</code></pre>

  </div>
  <!-- /Right col -->

</div>
<!-- /Row -->
