<div class="row z-depth-5 sg-display-row">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Bars - Sliders</h1>
    <hr>
  </div>
  <!-- /Title head -->

  <div class="col s12 m6">
    <!-- Eco-bar -->
    <div class="eco-bar">
      <div class="determinate" style="width: 70%"></div>
    </div>
    <!-- /Eco-bar -->
    
    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;!-- Eco-bar -->
    &lt;div class="eco-bar">
      &lt;div class="determinate" style="width: 70%">&lt;/div>
    &lt;/div>
    &lt;!-- /Eco-bar -->
    </ngx-prism>
    <!-- Highlighted code -->

    <div class="divider"></div>

    <div class="row">
      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body">8500kr</span>
        <div class="eco-bar-vertical" style="height: 296px">
          <div class="determinate" style="height: 50%">
            <span class="caption">5500kr</span>
          </div>
        </div>
        <h3>Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->


      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body">8500kr</span>
        <div class="eco-bar-vertical" style="height: 296px">
          <div class="determinate is-over" style="height: 90%">
            <span class="caption">7500kr</span>
          </div>
        </div>
        <h3>Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->

      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body">8500kr</span>
        <div class="eco-bar-vertical" style="height: 296px">
          <div class="determinate is-over red" style="height: 100%">
            <span class="caption">9000kr</span>
          </div>
        </div>
        <h3>Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->

    </div>

    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;!-- Eco-bar-vertical -->
    &lt;div class="col c7 eco-bar-container">
      &lt;span class="body">cat.budget&lt;/span>
      &lt;div class="eco-bar-vertical" style="height: 296px">
        &lt;div class="determinate" style="height: 50%">
          &lt;span class="caption">cat.used&lt;/span>
        &lt;/div>
      &lt;/div>
      &lt;h3>Bolig&lt;/h3>
    &lt;/div>
    &lt;!-- /Eco-bar-vertical -->
  
    &lt;!-- 
    Height >= 90%: add class "is-over" to "determinate"
    Height &lt;= 100%: add class "red" to "determinate"
  
    E.g:  &lt;div class="determinate is-over red" style="height: 100%">
    -->
    </ngx-prism>
    <!-- Highlighted code -->
    <div class="divider"></div>

    <p class="secondary">Slider</p>

    <!-- Slider -->
    <div id="test-slider1" class="eco-slider"></div>
    <!-- /Slider -->
    
    <br><br>

    <!-- Highlighted code -->
    <ngx-prism language="html">
      &lt;!-- Slider -->
      &lt;div id="test-slider1" class="eco-slider">&lt;/div>
      &lt;!-- /Slider -->
    </ngx-prism>
      <!-- /Highlighted code -->

  </div>
  <!-- /Left col -->




  <div class="col s12 m6 dark-blue">
    <div class="eco-bar eco-on-dark">
      <div class="determinate" style="width: 70%"></div>
    </div>
    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;!-- Eco-bar -->
    &lt;div class="eco-bar eco-on-dark">
      &lt;div class="determinate" style="width: 70%">&lt;/div>
    &lt;/div>
    &lt;!-- /Eco-bar -->
    </ngx-prism>
    <!-- Highlighted code -->

    <div class="divider"></div>

    <div class="row">
      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body white-text">8500kr</span>
        <div class="eco-bar-vertical eco-on-dark" style="height: 296px">
          <div class="determinate" style="height: 50%">
            <span class="caption">5500kr</span>
          </div>
        </div>
        <h3 class="white-text">Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->


      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body white-text">8500kr</span>
        <div class="eco-bar-vertical eco-on-dark" style="height: 296px">
          <div class="determinate is-over" style="height: 90%">
            <span class="caption">7500kr</span>
          </div>
        </div>
        <h3 class="white-text">Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->

      <!-- Eco-bar-vertical -->
      <div class="col m4 eco-bar-container">
        <span class="body white-text">8500kr</span>
        <div class="eco-bar-vertical eco-on-dark" style="height: 296px">
          <div class="determinate is-over red" style="height: 100%">
            <span class="caption">9000kr</span>
          </div>
        </div>
        <h3 class="white-text">Bolig</h3>
      </div>
      <!-- /Eco-bar-vertical -->
    </div>

    <!-- Highlighted code -->
    <ngx-prism language="html">
    &lt;!-- 
    On dark backgrounds:
    Add class "eco-on-dark" to "eco-bar-vertical".
    Add class "white-text" to span.body and h3.
    
    -->

    &lt;!-- Eco-bar-vertical -->
    &lt;div class="col c7 eco-bar-container">
      &lt;span class="body white-text">cat.budget&lt;/span>
      &lt;div class="eco-bar-vertical eco-on-dark" style="height: 296px">
        &lt;div class="determinate" style="height: 50%">
          &lt;span class="caption">cat.used&lt;/span>
        &lt;/div>
      &lt;/div>
      &lt;h3 class="white-text">Bolig&lt;/h3>
    &lt;/div>
    &lt;!-- /Eco-bar-vertical -->
    </ngx-prism>
    <!-- /Highlighted code -->


     <div class="divider"></div>

     <p class="secondary-white">Slider</p>

     <!-- Slider -->
    <div id="test-slider2" class="eco-slider-dark"></div>
    <!-- /Slider -->

    <br><br>

    <!-- Highlighted code -->
    <ngx-prism language="html">
      &lt;!-- Slider on dark bg -->
      &lt;div id="test-slider2" class="eco-slider-dark">&lt;/div>
      &lt;!-- /Slider -->
    </ngx-prism>

    <ngx-prism language="javascript">
      noUiSlider.create(testSlider2, &#123;
        start: categoryBudget, // e.g
        connect: [true, false],
        step: 100,
        tooltips: true,
        range: range_all_sliders,
        format: wNumb(&#123;
          decimals: 0,
          prefix: 'KR '
          &#125;)
        &#125;);
      
    </ngx-prism>
      <!-- /Highlighted code -->
  </div>
  <!-- /Right col -->

</div>
<!-- /Row -->
