<div class="row z-depth-5 sg-display-row" style="background: #fff;">

  <div class="col m7 sg-row-title">
    <h1 class="uppercase flow-text">Collapsible</h1>
    <hr>
  </div><!-- /Title head -->

  <div class="col s12 m12">

    <ul class="collapsible popout">
      <!-- List-item -->
      <li>
        <!-- Collapsible-header -->
        <div class="collapsible-header">
          <div class="row">
            <div class="col m2 l1 hide-on-small-and-down">
              <div class="icon-container-border-dark">
                <i class="material-icons">home</i>
              </div>
            </div>
            <div class="col s12 m10 l11">
              <div class="row">
                <div class="col s8">
                  <h3 class="headline">Bolig</h3>
                </div>
                <div class="col s4 right-align">
                  <div class="icon-container icon-collapsible-rotate">
                    <i class="material-icons">expand_more</i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <span class="body secondary">Penger brukt: KR 4.231</span>
                </div>
                <div class="col s6 right-align">
                  <span class="body secondary">Budsjett: KR 6.400</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="eco-bar">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Collapsible-header -->


        <div class="collapsible-body">
          <!-- Collapsible-body -->
          <div class="row">
            <!-- Table .row wrapper -->
            <div class="col s12 m10 l11 offset-m2 offset-l1">
              <table class="editable-table">
                <thead>
                  <tr>
                    <th class="th-checkbox">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span class="caption secondary">Dato</span>
                      </label>
                    </th>
                    <th>
                      <span class="caption secondary">Forhandler</span>
                    </th>
                    <th>
                      <span class="caption secondary">Beløp</span>
                    </th>
                    <th>
                      <span class="caption secondary">Notat</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="input-field">
                        <label>
                          <input type="checkbox" class="filled-in" />
                          <span class="">21.01.2018</span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="input-field">
                        <input id="merchant" type="text" class="validate" value="Kiwi">
                        <i class="material-icons icon-in-table">edit</i>
                      </div>
                    </td>
                    <td>
                      <div class="input-field">
                        <input id="amount" type="text" class="validate" value="Kr 350">
                        <i class="material-icons icon-in-table">edit</i>
                      </div>
                    </td>
                    <td>
                      <div class="input-field">
                        <input id="note" type="text" class="validate" value="Middag">
                        <i class="material-icons icon-in-table">edit</i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /Table .row wrapper -->
        </div>
        <!-- /Collapsible-body -->
      </li>
      <!-- /List-item -->

      <!-- List-item -->
      <li>
          <!-- Collapsible-header -->
          <div class="collapsible-header">
            <div class="row">
              <div class="col m2 l1 hide-on-small-and-down">
                <div class="icon-container-border-dark">
                  <i class="material-icons">restaurant_menu</i>
                </div>
              </div>
              <div class="col s12 m10 l11">
                <div class="row">
                  <div class="col s8">
                    <h3 class="headline">Mat</h3>
                  </div>
                  <div class="col s4 right-align">
                    <div class="icon-container icon-collapsible-rotate">
                      <i class="material-icons">expand_more</i>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col s6">
                      <span class="body secondary">Penger brukt: KR 4.231</span>
                    </div>
                    <div class="col s6 right-align">
                      <span class="body secondary">Budsjett: KR 6.400</span>
                    </div>
                  </div>
                <div class="row">
                  <div class="col s12">
                    <div class="eco-bar">
                      <div class="determinate" style="width: 70%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Collapsible-header -->
  
  
          <div class="collapsible-body">
            <!-- Collapsible-body -->
            <div class="row">
              <!-- Table .row wrapper -->
              <div class="col s12 m10 l11 offset-m2 offset-l1">
                <table class="editable-table">
                  <thead>
                    <tr>
                      <th class="th-checkbox">
                        <label>
                          <input type="checkbox" class="filled-in" />
                          <span class="caption secondary">Dato</span>
                        </label>
                      </th>
                      <th>
                        <span class="caption secondary">Forhandler</span>
                      </th>
                      <th>
                        <span class="caption secondary">Beløp</span>
                      </th>
                      <th>
                        <span class="caption secondary">Notat</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="input-field">
                          <label>
                            <input type="checkbox" class="filled-in" />
                            <span class="">21.01.2018</span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="merchant" type="text" class="validate" value="Kiwi">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="amount" type="text" class="validate" value="Kr 350">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="note" type="text" class="validate" value="Middag">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /Table .row wrapper -->
          </div>
          <!-- /Collapsible-body -->
        </li>
        <!-- /List-item -->
        <!-- List-item -->
      <li>
          <!-- Collapsible-header -->
          <div class="collapsible-header">
            <div class="row">
              <div class="col m2 l1 hide-on-small-and-down">
                <div class="icon-container-border-dark">
                  <i class="material-icons">shopping_basket</i>
                </div>
              </div>
              <div class="col s12 m10 l11">
                <div class="row">
                  <div class="col s8">
                    <h3 class="headline">Klær</h3>
                  </div>
                  <div class="col s4 right-align">
                    <div class="icon-container icon-collapsible-rotate">
                      <i class="material-icons">expand_more</i>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col s6">
                      <span class="body secondary">Penger brukt: KR 4.231</span>
                    </div>
                    <div class="col s6 right-align">
                      <span class="body secondary">Budsjett: KR 6.400</span>
                    </div>
                  </div>
                <div class="row">
                  <div class="col s12">
                    <div class="eco-bar">
                      <div class="determinate" style="width: 70%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Collapsible-header -->
  
  
          <div class="collapsible-body">
            <!-- Collapsible-body -->
            <div class="row">
              <!-- Table .row wrapper -->
              <div class="col s12 m10 l11 offset-m2 offset-l1">
                <table class="editable-table">
                  <thead>
                    <tr>
                      <th class="th-checkbox">
                        <label>
                          <input type="checkbox" class="filled-in" />
                          <span class="caption secondary">Dato</span>
                        </label>
                      </th>
                      <th>
                        <span class="caption secondary">Forhandler</span>
                      </th>
                      <th>
                        <span class="caption secondary">Beløp</span>
                      </th>
                      <th>
                        <span class="caption secondary">Notat</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="input-field">
                          <label>
                            <input type="checkbox" class="filled-in" />
                            <span class="">21.01.2018</span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="merchant" type="text" class="validate" value="Kiwi">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="amount" type="text" class="validate" value="Kr 350">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                      <td>
                        <div class="input-field">
                          <input id="note" type="text" class="validate" value="Middag">
                          <i class="material-icons icon-in-table">edit</i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /Table .row wrapper -->
          </div>
          <!-- /Collapsible-body -->
        </li>
        <!-- /List-item -->
    </ul>


<!-- Highlighted code -->
<ngx-prism language="html">
    &lt;ul class="collapsible popout">
        &lt;li>
          &lt;div class="collapsible-header">
            &lt;div class="row">
    
                &lt;div class="col m2 l1 hide-on-small-and-down">&lt;!-- Col - Icon -->
                &lt;div class="icon-container-border-dark">
                    &lt;i class="material-icons">home&lt;/i>
                &lt;/div>
                &lt;/div>&lt;!-- /Col - Icon -->
    
                &lt;div class="col s12 m10 l11">&lt;!-- Col - Titles -->
                &lt;div class="row">
                    &lt;div class="col s8">
                        &lt;h3 class="headline">Bolig&lt;/h3>
                    &lt;/div>
                    &lt;div class="col s4 right-align">
                        &lt;div class="icon-container icon-collapsible-rotate">
                            &lt;i class="material-icons">expand_more&lt;/i>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
    
                &lt;div class="row">
                    &lt;div class="col s6">
                        &lt;span class="body secondary">Penger brukt&lt;/span>
                    &lt;/div>
                    &lt;div class="col s6 right-align">
                        &lt;span class="body secondary">Budsjett&lt;/span>
                    &lt;/div>
                &lt;/div>
    
                &lt;div class="row">
                    &lt;div class="col s12">
                        &lt;div class="eco-bar">
                            &lt;div class="determinate" style="width: 70%">&lt;/div>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
                &lt;/div>&lt;!-- /Col - Titles -->
    
            &lt;/div>&lt;!-- /Row -->
          &lt;/div>&lt;!-- /Collapsible-header -->
    
    
            &lt;div class="collapsible-body">&lt;!-- Collapsible-body -->
                &lt;div class="row">
                    &lt;div class="col s12 m10 l11 offset-m2 offset-l1">
                        &lt;table class="editable-table">
                            ... &lt;!-- Content here -->
                        &lt;/table>
                    &lt;/div>
                &lt;/div>&lt;!-- /Table .row wrapper -->
            &lt;/div>&lt;!-- /Collapsible-body -->
        &lt;/li>&lt;!-- /List-item -->
    &lt;/ul>
    </ngx-prism>
    <!-- /Highlighted code -->

  </div>
  <!-- /Col -->
</div>
<!-- /Row -->

